@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --color-orange: hsl(31, 77%, 52%);
  --color-cyan: hsl(184, 100%, 22%);
  --color-dark: hsl(179, 100%, 13%);
  --color-white: hsla(0, 0%, 100%, 0.6);
  --color-gray: hsl(0, 0%, 95%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.background {
  background-color: var(--color-gray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 490px;
  width: 320px;
  padding: 3em;
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5rem;
  color: var(--color-gray);
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.95rem;
  color: var(--color-white);
  line-height: 1.6em;
}

.one {
  background: var(--color-orange);
  border-top-left-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
}
.two {
  background: var(--color-cyan);
}

.three {
  background: var(--color-dark);
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}

.but {
  margin-top: 50px;
  padding: 1.3em;
  width: 145px;
  border-radius: 28px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  -webkit-appearance: none;
}

.but:hover {
  background: transparent;
  color: var(--color-white);
  box-shadow: 0 0 0 2px var(--color-white);
  cursor: pointer;
}

.butOne {
  color: hsl(31, 77%, 65%);
}

.butTwo {
  color: hsl(184, 100%, 28%);
}

.butThree {
  color: hsl(179, 100%, 19%);
}

@media screen and (max-width: 970px) {
  .background {
    flex-direction: column;
    height: auto;
    overflow-y: scroll;
  }
  .card {
    height: 470px;
  }
  .one {
    border-top-left-radius: 0.6em;
    border-top-right-radius: 0.6em;
    border-bottom-left-radius: 0;
  }
  .three {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
  }
  .but {
    margin-top: 20px;
  }
}
